body{
    background: red;
    font-family:Arial, Helvetica, sans-serif;
}

.bordered{
    border:1px solid red;
}

@import 'shadows';


p{
    @extend .z-depth-1;
    line-height: 2em;
}

@mixin nice-line-spacing($font_size){
    line-height:$font_size*2;
}

p{
    @include nice_line_spacing(14px);
}