td {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1{
	text-align: center;
}

thead{
	background-color: #AAAAAA;

}

ul{
	list-style-type: none;

}

li{
	padding:20px;
	display: inline;
}

img{
	padding-left: 40px;
	padding-right: 10px;
}

p{
	padding-left: 20px;
	padding-right: 20px;
}

p.blue {
	font-weight: bold;
}

a{
	text-decoration: none;
	color:black

}


a:hover{
	color:red;
}

#champions img{
	width:100%; 
	height:auto;
}